body {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: 
    radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, #1E3CF0FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
}
